<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155527668170-o1c5p7m3bcere58bq2861c0lue8qj0fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155527668170-o1c5p7m3bcere58bq2861c0lue8qj0fk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>155527668170-1cht500qo66tum2mae9g54qlg3nuflei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEYGLmE4gN5d3ZcTMFMBoAANpcEIlPbhc</string>
	<key>GCM_SENDER_ID</key>
	<string>155527668170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatscall</string>
	<key>PROJECT_ID</key>
	<string>hangouts-b50ce</string>
	<key>STORAGE_BUCKET</key>
	<string>hangouts-b50ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155527668170:ios:a31cf0d1a416033c26ef33</string>
	<key>DATABASE_URL</key>
	<string>https://hangouts-b50ce-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>